<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css"> <!-- didnt understood how to give path of sorce of css-->
    <title>About</title>

</head>

<body>
    {{>header}}
    <div class="container">
        <id id="about">
            {{!-- <img src="./images/robot.png" alt="" srcset="">
            <!-- didnt understood how to give path of sorce of image--> --}}
            <p>My name is Simran Godhwani and I am third year student of Computer Engineering at Pune Institute of
                Computer Technology,Pune(PICT).</p>
            <br>
            <p>I made this website as a project while learning Node.js</p>
        </id>

    </div>


    {{>footer}}
</body>

</html>