<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    <title>Help</title>
</head>

<body>
    {{>header}}
    <div class="container">
        <id id="message">
            <p>{{message}}</p>
        </id>
    </div>
    {{>footer}}
</body>

</html>