<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <!--this '/about' is of app.get('/about'...) in app.js -->
    <a href="/help">Help</a>
    <!--this '/help' is of app.get('/help'...) in app.js -->
</header>